force-app/main/default/flows/Execute_SFDX_Scanner_on_Environment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Git_Credential</name>
        <label>Get Git Credential</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>GitCredentialResolver</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Success</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>environmentId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GitCredentialResolver</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>BranchName</assignToReference>
            <name>branchName</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>errorMessage</assignToReference>
            <name>errorMessage</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>platform</assignToReference>
            <name>pipelineType</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>repositoryID</assignToReference>
            <name>repositoryId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>repositoryName</assignToReference>
            <name>repositoryName</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>repositoryURI</assignToReference>
            <name>repositoryUri</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>slackTrace</assignToReference>
            <name>stackTrace</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>GitSuccess</assignToReference>
            <name>success</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Run_SFDX_Code_Analyzer_On_Environment</name>
        <label>Run SFDX Code Analyzer On Environment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>copado__RunCopadoFunction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Scan_Started</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>repositoryID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>functionApiName</name>
            <value>
                <stringValue>Run_SFDX_Code_Analyzer_Env_Branch</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>parametersJSON</name>
            <value>
                <stringValue>[ {&quot;name&quot;:&quot;environmentBranch&quot;, &quot;value&quot;:&quot;{!BranchName}&quot;} ]</stringValue>
            </value>
        </inputParameters>
        <nameSegment>copado__RunCopadoFunction</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>ResultId</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Check_Success</name>
        <label>Check Success</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GitSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirm_Scan</targetReference>
            </connector>
            <label>Success</label>
        </rules>
        <rules>
            <name>Error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GitSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Screen</targetReference>
            </connector>
            <label>Error</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ResultURL</name>
        <dataType>String</dataType>
        <expression>&apos;/lightning/r/copado__Result__c/&apos; &amp; {!ResultId} &amp; &apos;/view&apos;</expression>
    </formulas>
    <interviewLabel>Execute SFDX Scanner on Environment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Execute SFDX Scanner on Environment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Confirm_Scan</name>
        <label>Confirm Scan</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Run_SFDX_Code_Analyzer_On_Environment</targetReference>
        </connector>
        <fields>
            <name>Repository_Info</name>
            <fieldText>&lt;p&gt;Ready to scan the following environment:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Pipeline Type: &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!platform}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Environment Platform: {!EnvironmentPlatform}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Repository: {!repositoryName}&lt;/p&gt;&lt;p&gt;RepositoryID: &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!repositoryID}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Branch: {!BranchName}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Click&lt;strong&gt; Next&lt;/strong&gt; to start the scan, or &lt;strong&gt;Previous&lt;/strong&gt; to cancel.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p&gt;⚠ Error: Unable to resolve Git Repository&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Error Message:&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!errorMessage}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Possible Causes:&lt;/p&gt;&lt;p&gt;Environment is not connected to a Pipeline&lt;/p&gt;&lt;p&gt;Metadata Format Pipeline is missing a Git Snapshot&lt;/p&gt;&lt;p&gt;Source Format Pipeline is missing a Git Repository&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please contact your Copado administrator.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Scan_Started</name>
        <label>Scan Started</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Success_Message</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;✓ Code Analyzer scan started successfully!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The scan is running in the background. Results will be attached to the&lt;a href=&quot;(!ResultURL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt; Result record&lt;/a&gt; when complete.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Repository:&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!repositoryName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Branch: {!BranchName}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You can close this window.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Git_Credential</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>BranchName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CredentialId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EnvironmentPlatform</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>git_json</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GitSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>pipelineId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>platform</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>repositoryID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>repositoryName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>repositoryURI</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ResultId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>slackTrace</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
