force-app/main/default/flows/GitlabQAAutomation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Gitlab_Testing</name>
        <label>Gitlab Testing</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <actionName>copado__RunCopadoFunction</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <stringValue>a0p5e000004F7OBAA0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>functionApiName</name>
            <value>
                <stringValue>gitlab_qa_automation</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>parametersJSON</name>
            <value>
                <stringValue>[{&quot;name&quot;:&quot;REF_NAME&quot;,&quot;value&quot;:&quot;{!FeatureBranch}&quot;}]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>showValidationErrors</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>copado__RunCopadoFunction</nameSegment>
        <outputParameters>
            <assignToReference>$Record.Feature_Branch__c</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>GitlabQAAutomation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GitlabQAAutomation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Create variables to pass to the function; feature branch, source branch, etc</description>
        <name>US_record</name>
        <label>US record</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Gitlab_Testing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>copado__User_Story__c</object>
        <outputAssignments>
            <assignToReference>FeatureBranch</assignToReference>
            <field>Feature_Branch__c</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>US_record</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__Pull_Requests_Approved__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>copado__User_Story__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Feature branch of triggering US record</description>
        <name>FeatureBranch</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>triggeringrecord.Feature_Branch__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>get the user story record id and the feature branch</description>
        <name>triggeringrecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>copado__User_Story__c</objectType>
    </variables>
</Flow>
