force-app/main/default/flows/PR_Required_Reviewers_Approve_or_Reject.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Have_All_Required_Reviewers_Approved_PR</name>
        <label>Have All Required Reviewers Approved PR</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome (Do Nothing)</defaultConnectorLabel>
        <rules>
            <name>All_Required_Reviewers_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Total_Required_Approvals_Received__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Total_Reviewers_Required__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updatePRToApproved</targetReference>
            </connector>
            <label>All Required Reviewers Approved</label>
        </rules>
        <rules>
            <name>At_Least_1_Required_Reviewer_Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Total_Required_Rejections_Received__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updatePRToRejected</targetReference>
            </connector>
            <label>At Least 1 Required Reviewer Rejected</label>
        </rules>
    </decisions>
    <description>As the Pull Request Reviews are created or updated, evaluate the Required Approvals Received and Required Rejections Received to then update the Pull Request State and the User Story Pull Request Approved checkbox.</description>
    <environments>Default</environments>
    <interviewLabel>PRR Required Reviewers Approve or Reject {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PR Required Reviewers Approve or Reject</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>updatePRToApproved</name>
        <label>updatePRToApproved</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>updateUSToPRApproved</targetReference>
        </connector>
        <inputAssignments>
            <field>copado__State__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updatePRToRejected</name>
        <label>updatePRToRejected</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>updateUSToPRNotApproved</targetReference>
        </connector>
        <inputAssignments>
            <field>copado__State__c</field>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>updateUSToPRApproved</name>
        <label>updateUSToPRApproved</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.copado__User_Story__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>copado__Pull_Requests_Approved__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>copado__User_Story__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateUSToPRNotApproved</name>
        <label>updateUSToPRNotApproved</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.copado__User_Story__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>copado__Pull_Requests_Approved__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>copado__User_Story__c</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Have_All_Required_Reviewers_Approved_PR</targetReference>
        </connector>
        <object>copado__Pull_Request__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
