force-app/main/default/flows/Run_SFDX_Code_Analyzer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Invoke_Copado_Function_Action_1</name>
        <label>Invoke Copado Function Action 1</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <actionName>copado__RunCopadoFunction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>varRepositoryId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>functionApiName</name>
            <value>
                <stringValue>Run_SFDX_Code_Analyzer_Env_Branch</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>parametersJSON</name>
            <value>
                <stringValue>[   {     &quot;name&quot;: &quot;environmentBranch&quot;,     &quot;value&quot;: &quot;{!BranchNameInput}&quot;   },   {     &quot;name&quot;: &quot;git_json&quot;,     &quot;value&quot;: &quot;{$Context.Repository.Credential}&quot;   }]</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>showValidationErrors</name>
        </inputParameters>
        <nameSegment>copado__RunCopadoFunction</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>ResultID</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Repository_Id</name>
        <label>Assign Repository Id</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>varRepositoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Repository_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Invoke_Copado_Function_Action_1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Repository_Found</name>
        <label>Check Repository Found</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Error_Screen_Repository_Not_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Repository Not Found</defaultConnectorLabel>
        <rules>
            <name>Repository_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Repository_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Repository_Id</targetReference>
            </connector>
            <label>Repository Found</label>
        </rules>
    </decisions>
    <description>Screen Flow to run SFDX Code Analyzer on a specific branch</description>
    <environments>Default</environments>
    <formulas>
        <name>ResultURL</name>
        <dataType>String</dataType>
        <expression>&apos;/lightning/r/copado__Result__c/&apos; &amp; {!ResultID} &amp; &apos;/view&apos;</expression>
    </formulas>
    <label>Run SFDX Code Analyzer</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Repository_Record</name>
        <label>Get Repository Record</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Repository_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RepositoryNameInput</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>copado__Git_Repository__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Error_Screen_Repository_Not_Found</name>
        <label>Error - Repository Not Found</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px; color: rgb(194, 57, 52);&quot;&gt;❌ Repository Not Found&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Could not find a Git Repository with the name: &lt;b&gt;{!RepositoryNameInput}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please verify:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;The repository name is spelled correctly&lt;/li&gt;&lt;li&gt;The repository exists in Copado&lt;/li&gt;&lt;li&gt;You have access to view the repository&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Click Back to try again with a different repository name.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Input_Screen</name>
        <label>Run SFDX Code Analyzer</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Repository_Record</targetReference>
        </connector>
        <fields>
            <name>HeaderText</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;SFDX Code Analyzer&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;This will run the SFDX Code Analyzer on the specified repository and branch. Please provide the following information:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>RepositoryNameInput</name>
            <dataType>String</dataType>
            <fieldText>Repository Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>BranchNameInput</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>main</stringValue>
            </defaultValue>
            <fieldText>Branch Name</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>Enter the branch name to analyze (e.g., main, dev, feature/US-0001)</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Function Initiated</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessHeader</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;✅ Code Analysis Initiated&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The SFDX Code Analyzer function has been queued for:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Repository: &lt;strong&gt;{!RepositoryNameInput}&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;Branch: &lt;strong&gt;{!BranchNameInput}&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;ResultId:&lt;strong&gt; {!ResultID}&lt;/strong&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;You can monitor the progress in the &lt;a href=&quot;(!ResultURL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Copado Functions Results tab&lt;/a&gt;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Input_Screen</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>ResultID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varEnvironmentRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRepositoryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
