force-app/main/default/flows/Set_PRR_Reviewer_Flags.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Is_Optional_PR_Submitter</name>
        <label>Is Optional PR Submitter</label>
        <locationX>710</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>PRRSetRequiredFalseSetSelfFalse</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Optional is not PR Submitter</defaultConnectorLabel>
        <rules>
            <name>Yes_Optional_is_PR_Submitter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getPRRParentPR.copado__Username__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.copado__Username__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PRRSetRequiredFalseSetSelfTrue</targetReference>
            </connector>
            <label>Yes - Optional is PR Submitter</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Reviewer_Required</name>
        <label>Is Reviewer Required?</label>
        <locationX>380</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Is_Optional_PR_Submitter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No - Not Required Reviewer</defaultConnectorLabel>
        <rules>
            <name>Required_Reviewer_and_PR_Submitter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getPRRParentPR.copado__Requested_Reviewers__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>PRRUsernameRequired</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getPRRParentPR.copado__Username__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>PRRUsername</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PRRSetRequiredTrueSetSelfTrue</targetReference>
            </connector>
            <label>Required Reviewer and PR Submitter</label>
        </rules>
        <rules>
            <name>Required_Reviewer_but_not_PR_Submitter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getPRRParentPR.copado__Requested_Reviewers__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>PRRUsernameRequired</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getPRRParentPR.copado__Username__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>PRRUsername</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PRRSetRequiredTrueSetSelfFalse</targetReference>
            </connector>
            <label>Required Reviewer but not PR Submitter</label>
        </rules>
    </decisions>
    <description>As Pull Request Reviews are created or updated set Required Reviewer and PR Submitter flags as appropriate.</description>
    <environments>Default</environments>
    <formulas>
        <description>Pull Request Review record&apos;s username</description>
        <name>PRRUsername</name>
        <dataType>String</dataType>
        <expression>{!$Record.copado__Username__c}</expression>
    </formulas>
    <formulas>
        <description>Formula to concatenate the Pull Request Review record&apos;s username with the string &quot; (Required)&quot;</description>
        <name>PRRUsernameRequired</name>
        <dataType>String</dataType>
        <expression>{!$Record.copado__Username__c}&amp;&quot; (Required)&quot;</expression>
    </formulas>
    <interviewLabel>Set PRR Reviewer Flags {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set PRR Reviewer Flags</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get the Pull Request Review&apos;s Parent Pull Request</description>
        <name>getPRRParentPR</name>
        <label>getPRRParentPR</label>
        <locationX>380</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Reviewer_Required</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.copado__Pull_Request__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>copado__Pull_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>PRRSetRequiredFalseSetSelfFalse</name>
        <label>PRRSetRequiredFalseSetSelfFalse</label>
        <locationX>842</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>PR_Submitter__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Required_Reviewer__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>PRRSetRequiredFalseSetSelfTrue</name>
        <label>PRRSetRequiredFalseSetSelfTrue</label>
        <locationX>578</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>PR_Submitter__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Required_Reviewer__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>PRRSetRequiredTrueSetSelfFalse</name>
        <label>PRRSetRequiredTrueSetSelfFalse</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>PR_Submitter__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Required_Reviewer__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>PRRSetRequiredTrueSetSelfTrue</name>
        <label>PRRSetRequiredTrueSetSelfTrue</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>PR_Submitter__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Required_Reviewer__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getPRRParentPR</targetReference>
        </connector>
        <object>copado__Pull_Request_Review__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
