force-app/main/default/flows/Update_Current_Environment_Field.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Decision_1</name>
        <label>Decision 1</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>UpdateStoryNumber</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.copado__Org_Credential__r.Name</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.copado__Environment__r.Name</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateCurrentEnvText</targetReference>
            </connector>
            <label>Outcome 1 of Decision 1</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update Current Environment Field {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Current Environment Field</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>UpdateCurrentEnvText</name>
        <label>Update Current ENV text</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <inputAssignments>
            <field>Current_ENV_text__c</field>
            <value>
                <elementReference>$Record.copado__Environment__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Environment__c</field>
            <value>
                <elementReference>$Record.copado__Environment__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateStoryNumber</name>
        <label>UpdateStoryNumber</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Story_Number__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Story_Number__c</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_1</targetReference>
        </connector>
        <object>copado__User_Story__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
