force-app/main/default/flows/UserStory_OrphanBranch_Checkmarx_Scan.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Checkmarx_project1</name>
        <label>Checkmarx project1</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <actionName>copado__RunCopadoFunction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Branch_Creation_In_Progress</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>Get_User_Story.copado__Git_Repository__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>functionApiName</name>
            <value>
                <stringValue>createPromOrphanCheckmarx</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>parametersJSON</name>
            <value>
                <elementReference>Function_Parameters</elementReference>
            </value>
        </inputParameters>
        <nameSegment>copado__RunCopadoFunction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Orphan_and_Checkmarx_Scan</name>
        <label>Orphan and Checkmarx Scan</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <actionName>copado__RunCopadoFunction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Copy_2_of_Branch_Creation_In_Progress</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>functionApiName</name>
            <value>
                <stringValue>Copy_of_Checkmarx_scan_with_orphan_branch</stringValue>
            </value>
        </inputParameters>
        <nameSegment>copado__RunCopadoFunction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Project2_Checkmarx_Scan</name>
        <label>Project2 Checkmarx Scan</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <actionName>copado__RunCopadoFunction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Copy_1_of_Branch_Creation_In_Progress</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>Get_User_Story.copado__Git_Repository__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>functionApiName</name>
            <value>
                <stringValue>createPromOphanCheckmarx2</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>parametersJSON</name>
            <value>
                <elementReference>Function_Parameters</elementReference>
            </value>
        </inputParameters>
        <nameSegment>copado__RunCopadoFunction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Project_Decision</name>
        <label>Project Decision</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Orphan_and_Checkmarx_Scan</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Project_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_Story.copado__Project__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a0z5e000000COcWAAW</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Checkmarx_project1</targetReference>
            </connector>
            <label>Jira Integration</label>
        </rules>
        <rules>
            <name>Project_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_Story.copado__Project__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a0z5e000000CQSVAA4</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Project2_Checkmarx_Scan</targetReference>
            </connector>
            <label>CopaBootProject</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>FeatureBranch</name>
        <dataType>String</dataType>
        <expression>&apos;feature/&apos; &amp; {!Get_User_Story.Name}</expression>
    </formulas>
    <formulas>
        <name>Function_Parameters</name>
        <dataType>String</dataType>
        <expression>&apos;[ { &quot;name&quot;: &quot;sourceBranch&quot;, &quot;value&quot;: &quot;&apos; &amp; {!FeatureBranch} &amp; &apos;&quot; },{ &quot;name&quot;: &quot;userStoryId&quot;, &quot;value&quot;: &quot;&apos; &amp; {!recordId} &amp; &apos;&quot; }]&apos;</expression>
    </formulas>
    <formulas>
        <name>ResultRecordURL</name>
        <dataType>String</dataType>
        <expression>&apos;/lightning/r/copado__Result__c/&apos; &amp; {!Orphan_and_Checkmarx_Scan} &amp; &apos;/view&apos;</expression>
    </formulas>
    <formulas>
        <name>ResultRecordURL1</name>
        <dataType>String</dataType>
        <expression>&apos;/lightning/r/copado__Result__c/&apos; &amp; {!Checkmarx_project1} &amp; &apos;/view&apos;</expression>
    </formulas>
    <formulas>
        <name>ResultRecordURL2</name>
        <dataType>String</dataType>
        <expression>&apos;/lightning/r/copado__Result__c/&apos; &amp; {!Project2_Checkmarx_Scan} &amp; &apos;/view&apos;</expression>
    </formulas>
    <interviewLabel>UserStory OrphanBranch and Checkmarx Scan {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UserStory Orphan Branch and Checkmarx Scan</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_User_Story</name>
        <label>Get User Story</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Project_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>copado__User_Story__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Branch_Creation_In_Progress</name>
        <label>Branch Creation In Progress</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Finished_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;The orphan branch creation and Checkmarx scan process has been started. You can follow the Functions progress by checking its &lt;/span&gt;&lt;a href=&quot;{!ResultRecordURL1}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Result&lt;/a&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; record.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Branch_Creation_In_Progress</name>
        <label>Copy 1 of Branch Creation In Progress</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Finished_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;The orphan branch creation and Checkmarx scan process has been started. You can follow the Functions progress by checking its &lt;/span&gt;&lt;a href=&quot;{!ResultRecordURL2}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Result&lt;/a&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; record.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_2_of_Branch_Creation_In_Progress</name>
        <label>Copy 2 of Branch Creation In Progress</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_2_of_Finished_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;The orphan branch creation and Checkmarx scan process has been started. You can follow the Functions progress by checking its &lt;/span&gt;&lt;a href=&quot;{!ResultRecordURL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Result&lt;/a&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; record.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_User_Story</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>createPromOphanCheckmarx2</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;createPromOphanCheckmarx2&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Parameters_Json</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;[ { &quot;name&quot;: &quot;sourceBranch&quot;, &quot;value&quot;: &quot;&apos; &amp;amp; {!FeatureBranch} &amp;amp; &apos;&quot; },{ &quot;name&quot;: &quot;userStoryId&quot;, &quot;value&quot;: &quot;&apos; &amp;amp; {!recordId} &amp;amp; &apos;&quot; } ]&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <description>Pipeline ID for function context</description>
        <name>PipelineID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_User_Story.copado__Project__r.copado__Deployment_Flow__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>Project1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_User_Story.copado__Project__r.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>Project2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Get_User_Story.copado__Project__r.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
